@import "vendor/reset";
@import "vendor/vars";
@import "vendor/mixins";


body {
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
   
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/intro";
@import "blocks/products";
@import "blocks/catalog";
@import "blocks/social";
@import "blocks/footer";