.catalog {
    height: 519px;
    background-image: url(../images/lines_banner.png);
    background-position: right;
    background-color: $primary;
    display: flex;

    .section__title {
        margin-bottom: 30px;
    }

    .section__content {
        margin-bottom: 71px;
    }

    margin-bottom: 81px;
}


.catalog__left {

    width: 34%;
    background-color: #F7F5EF;

}

.catalog__photo {
    height: 414px;
    margin-top: 52px;
    margin-left: 45%;
}

.catalog__right {
    padding: 140px 0 0 299px;
}

.section__content {
    width: 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444240;
}

.catalog__slider {
    width: 63px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 118%;
    position: relative;
    z-index: 2;
    color: rgba(27, 26, 23, 0.82);

    .slider__arrow-left,
    .slider__arrow-right {
        display: flex;
        justify-content: center;
    }

    .slider__arrow-right {
        transform: rotate(180deg);
    }
}