.intro {
    height: 768px;
    background-image: url(../images/intro-bg.png);
    background-repeat: no-repeat;
    background-position: 54%;
    background-color: $primary;
    margin-bottom: 79px;
}

.intro__inner {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 134px;
    margin: 0 auto;
}


.intro__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
    margin-bottom: 16px;
    position: relative;
    white-space: nowrap;
    position: relative;
    @include pseudoLineLeft(50px);
}

.intro__subtitle {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;

    color: #1B1A17;
    margin-bottom: 39px;
}

.intro__description {
    width: 258px;
    height: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 90px;
}

.catalog__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    padding: 26px 38px;
    background-color: #444240;

    &--beige {
        background-color: #D4B098;

    }
}

.intro__right {
    // width: 100%;
    position: relative;
}

.intro__price,
.intro__size {
    position: absolute;
}

.intro__price {
    @include pseudoLineRight(50px);
    top: 149px;
    left: -70px;
}

.intro__photo {
    margin-top: -12px;
}

.intro__size {
    @include pseudoLineLeft(50px);
    
    right: -90px;
    bottom: 142px;
}