.products {
    margin-bottom: 86px;

    .section__title {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
}

.section__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: $black;
}



.show-all {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
    position: relative;
    @include pseudoLineBottom(101px);
    // &::after {
    //     content: '';
    //     display: block;
    //     width: 101px;
    //     height: 1px;
    //     background-color: $gray;
    // }
}

.products__inner {
    display: flex;
    justify-content: space-between;
}

.products__item {
    width: 370px;
    height: 387px;
    padding: 40px 0;
    background-image: url(../images/ellipse.svg);
    background-repeat: no-repeat;
    background-size: 313px 313px;
    background-position: center;
    background-color: $primary;
}

.products__title,
.products__price {
    padding-left: 40px;
}

.products__detail{
    margin-left: 88px;
}

.products__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 10px;

}

.products__price {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: rgba(27, 26, 23, 0.82);
}

.products__detail {

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #1B1A17;
    position: relative;
    @include pseudoLineLeft(30px);
}

.products__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}