<footer class="footer">
    <div class="footer__left">
        <div class="footer__title">
            <a href="/" class="footer__logo">
                <img src="assets/images/logo-white.svg" alt="">
            </a>
        </div>
        <div class="footer__item">8 (499) 450-47-97</div>
        <div class="footer__item">info@conquest.watch.ru</div>
    </div>
    <div class="footer__right">
        <div class="footer__wrapper">
            <div class="footer__title">о компании</div>
            <a href="/" class="footer__item">Наши магазины</a>
            <a href="/" class="footer__item">Вакансии</a>
            <a href="/" class="footer__item">Сертификаты</a>
            <a href="/" class="footer__item">Отзывы</a>
        </div>
        <div class="footer__wrapper">
            <div class="footer__title">покупателям</div>
            <a href="/" class="footer__item">Каталог товаров</a>
            <a href="/" class="footer__item">Как заказать?</a>
            <a href="/" class="footer__item">FAQ</a>
            <a href="/" class="footer__item">Корпоративным клиентам</a>
        </div>
        <div class="footer__wrapper">
            <div class="footer__title">оплата и доставка</div>
            <a href="/" class="footer__item">Способы оплаты</a>
            <a href="/" class="footer__item">Время доставки</a>
            <a href="/" class="footer__item">Гарантии и ремонт</a>
            <a href="/" class="footer__item">Возврат и компенсация</a>
        </div>
    </div>
</footer>